*{
margin: 0px;
padding: 0px;
 box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
}
#fname{
    border-radius: 5px;
    width: 200px;
    display: flex;
    padding: 5px  5px;
    top: 20%;
    right: 20%;
}
label{
    display: flex;
}