.id p{
 background-color: red;
 color: aqua;
}
.child >p{
    background-color: black;
    color: blue;
}
.general + p{
    color: chartreuse;
    background-color: brown;
}
.adjacent ~p{
    color: crimson;
    background-color: darkgreen;
}