:root{
    --color-1:#001542;
    --color-2:#085454;
    --color-3:#7a7a7a;
    --color-4:#ffffff;
    --color-5:#ffb30d;
    --color-6:#7A7A7A69;
    --color-7:#0000;
    --color-8:#006400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f6fa;
    font-family: sans-serif;
}
.navbar{
    position: sticky;
    width: 100%;
    background-color:var(--color-5);
    height: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    line-height: 50px;
}
.navbar-banner{
    color:var(--color-4);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.nav-card{
  color: var(--color-4);
  width: 40px;
  background-color:green;
  padding: 5px;
  cursor: pointer;
  position: relative;
  font-size: 25px;
}
.card-items{
    position: absolute;
    top: 20;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-3);
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}
.slider{
    min-height:calc(50vh - 50px);
    background: url(../food/image/banner.jpg)center no-repeat;

    position: relative;
}
.brand-banner{
    background-color: var(--color-6);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 10px;
    text-align: center;
}
.brand-banner h3{
    font-size: 58px;
    font-family: cursive;
    color: var(--color-5);
    text-shadow:8px 1px 2px var(--color-1);
    cursor: pointer;
    transition:transform 0.5s ease-out;
    animation:2s ease-out 0s 1 slideAnimation;
}
.brand-banner h3:hover{
    transform: scale(1.02);
}
@keyframes slideAnimation {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}
.brand-banner p{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color-4);
    text-shadow: 1px 0px 1px var(--color-5);
    font-weight: 600;
    animation: 2s ease-in-out 0s 1 sliderAnimation;
}
@keyframes sliderAnimation {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
/* .menu-item{
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
  
} */

.btn-group button{
    width: 100px;
    height: 30px;
    border: none;
    font-size: 0.7rem;
    background-color: #00b894;
    color:#fff;
    border: 2px solid #00b894;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}

.btn-group button:hover,
.btn-group .btn-clicked
{
  background-color: #353b48;
}
.menu-item ul{
    list-style: none;
    text-transform: capitalize;
}
.menu-item ul li{
 display: inline-block;
 height: 50px;
 line-height: 50px;
 width: 80px;    
 text-align: center;
}
.menu-item ul li a{
    color: white;
    text-decoration: none;
}
.menu-item ul li a:hover{
    color: greenyellow;
    background-color:red;
    /* transform: scale(0.5s); */
}

#food-type{
  background-color: cornflowerblue;
  color: darkblue;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 5px 2px 2px white;
}
.products-container{
    width: 90vw;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-column-gap:1.5rem;
    grid-row-gap: 2rem;
    margin-top: 20px;
}

.product{
    background-color: white;
    box-shadow: rgba(0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}
.product:hover{
    box-shadow: rgba(0,0,0.15);
}
.img-container{
 height: 200px;
 overflow: hidden;
}
.product-img{
  width: 100%;
  height: 100%;
  transition: 0.6s;
  object-fit: cover;
}
.product-img:hover{
    transform: scale(1.5);
    /* overflow: hidden; */
}

.product h3,
.product h4
{
    text-align: center;
    margin-top: 5px;
    text-transform: capitalize;
}
.product h3{color: var(--color-5);}
.product h4{color: var(--color-1);}

.product h5{
    margin-top: 10px;
    color: var(--color-5);
    background-color: darkcyan;
    padding: 5px;
    font-size: 15px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}
.product span{
    color: white;
}

.footer{
    width: 85.5rem;
    background-color: var(--color-2);
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    color: var(--color-4);
}
.footer a{
    color: var(--color-5);
    text-decoration: none;
}

.btn-item{
    border: none;
    padding: 12px 8px 12px 8px;
    background-color: var(--color-3);
    color: var(--color-4);
    font-size: 15px;
    position: absolute;
    top: 0;
    transition:background-color 0.3s ease-in;
    cursor: pointer;
}
.btn-item:hover{
    background-color: var(--color-1);   
}

.btn-fav{
    border: none;
    background-color: transparent;
    color: var(--color-4);
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}

.btn-fav:hover{
    color:red;
}
#search{
    width: 200px;
    height: 30px;
    outline: none;
    padding: 0 10px;
    border:2px solid #00b894;
    border-radius: 3px;
    font-size: 0.6rem;
  }