*{
    padding: 5px;
    margin: 5px;
    
}
form{
    width: 18rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-radius: 30px;
    box-shadow: 0 20px 50px;
    margin: 5% 35% auto;
    padding: 30px;
    text-transform: capitalize;
    }
button{
    padding: 5px;
    margin: 25px;
}
p{
    color: red;
}
form{
    background: linear-gradient(to left,#a2e5,#abcd,#3f5efb,#f0c4);

}