#one{
    display: block;
    text-align: left;
    padding-bottom: 70px;
}
#cs_name{
    padding: 5px;
    margin-right: 40px;
}
#cs_age{
    padding: 5px;
    margin-left: 50px;
}
#cs_add{
    padding: 5px 10px;
    margin-left: 80px;
}
#two{
    padding-bottom: 70px;
}
hr{
    padding-bottom: 70px;
}
#two{
    padding-bottom: 70px;
    display: block;
    text-align: left;
}
#mm{
    color: black;
}
#the_tr{
size: 50px;
}
